* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 70px;
    height: 70px;
}

.text {
    margin-left: 12px;
    color: white;
}

.text h1 {
    font-size: 22px;
    margin-bottom: 2px;
}

.text p {
    font-size: 13px;
    opacity: 0.8;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: orange;
}


.hero {
    height: 70vh;
    background: linear-gradient(to right, #ff9800, #ff5722);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    margin: 10px 0;
    font-size: 18px;
}

.hero button {
    padding: 10px 22px;
    border: none;
    background-color: #121212;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: black;
}


section {
    padding: 60px 80px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    font-size: 17px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #f5f5f5;
    padding: 25px;
    font-size: 18px;
    border-radius: 8px;
}


.team p {
    margin-top: 10px;
    font-size: 16px;
}

.team ul li {
    background-color: rgb(68, 68, 68);
    width: fit-content;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.team ul li img {
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 100%;

}

.team ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    place-items: center;
}


footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #121212;
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        padding: 15px 0;
        border-top: 1px solid #333;
    }
    .team ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    place-items: center;
}


    #menu-toggle:checked~.nav-links {
        display: flex;
    }

    .hero h2 {
        font-size: 26px;
    }

    .hero p {
        font-size: 16px;
    }

    section {
        padding: 40px 20px;
    }
}


@media (max-width: 480px) {
    .logo-section img {
        width: 55px;
        height: 55px;
    }

    .text h1 {
        font-size: 18px;
    }

    .text p {
        font-size: 12px;
    }
}